canvas {
    border: 1px solid lightgrey;
    box-sizing: border-box;

    /* reason: to stop the container from being sized 4px larger */
    display: block; 
}

.canvasContainer{
    position: relative;/* needs to be not static in order for highlight canvas's absolute to position relative to this */
    overflow: visible;
    display: block;
    width: 794px;
    /* todo, set width programatically */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 1px 0px 5px rgb(170, 0, 0);
}

.pdfCanvas {
    position: static;
    z-index: 0;
}

.highlightCanvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    cursor: crosshair;
}

.highlightForm {
    background: radial-gradient(circle at center, red, coral);
    /* display: block; */
    display: none;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    position: absolute;
    z-index: 99;
    top: 0;
    border: 1px solid black;
}

.highlightForm input, .highlightForm textarea, .highlightForm button {
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: none;
    background-color: white;
}

.highlightForm button {
    margin-top: 20px;
}

.highlightForm label {
    padding: 15px;
}