<div class="headerBar">
  <h1 class="title">PDF audit tool</h1>
  <span class="zoom">
    <span class="zoomIn child fas fa-search-plus" (click)="zoomIn()"></span>
    <span class="zoomOut child fas fa-search-minus"(click)="zoomOut()"></span>
  </span>
  <app-login *ngIf="user === null"></app-login>
  <span class="floatChildrenRight">
    <span class="save child fas fa-save"></span>
    <span [class.fas]="favourite" [class.far]="!favourite" [style.color]="favourite ? 'yellow' : 'rgb(145, 1, 1)'" class="star child fa-star" (click)="onFavourite()"></span>
    <!-- <label for="fileInput" class="fileInput child fas fa-plus"></label><input id="fileInput" type="file" (change)="loadNewPDF($event)"> -->
    <span class="share child fas fa-share-alt"></span>
    <a (click)="signout()" class="signout child rightSide fas fa-sign-out-alt"></a>
    <span class="fas fa-star-alt"></span>
  </span>
</div>
<div class="headerBarSpacer"></div>
<div class="sidebarRight" id="sidebarRight">
  <h2 class="title">Navigation</h2>
  <ul>
    <li *ngIf="linearHighlights.length === 0">No highlighted sections to show</li>
    <li *ngFor="let highlight of linearHighlights">
      <form #form="ngForm" #highlightForm (keydown.enter)="onSubmit(highlight, form)">
        <div class="positionAbsolute">
          <button class="scrollTo fas fa-eye" (click)="scrollTo(highlight)"></button>
          <button class="delete fas fa-trash-alt" (click)="delete(highlight)"></button>
        </div>
        <div class="highlight" [class.bold]="highlight.expanded">
          <span class="fas" [class.fa-chevron-down]="!highlight.expanded" [class.fa-chevron-up]="highlight.expanded" (click)="expandField(highlight, form)"></span>
          <span [style.display]="highlight.formMode ? 'none' : 'inline'">
            {{highlight.field}}
          </span>
          <!-- add autofucos here somehow -->
          <input [style.display]="highlight.formMode ? 'block' : 'none'" type="text" [(ngModel)]="highlight.field" name="field">
        </div>
        <div *ngIf="highlight.expanded">
          <hr>
          <button *ngIf="!highlight.formMode" class="edit" (click)="edit(highlight, form)">Edit</button>
          <div class="paddingLeft">
            <p><b>Value</b>: 
              <span [style.display]="highlight.formMode ? 'none' : 'inline'">{{highlight.value}}</span>
              <input [style.display]="highlight.formMode ? 'block' : 'none'" type="text" [(ngModel)]="highlight.value" name="value">
            </p>
            <p><b>passed: </b>
              <span [style.display]="highlight.formMode ? 'none' : 'inline'">{{highlight.passed}}</span>
              <select [style.display]="highlight.formMode ? 'block' : 'none'" name="passed" [(ngModel)]="highlight.passed">
                <option value="true">yes</option>
                <option value="false">no</option>
              </select>
            </p>
            <p><b>Message</b>: 
              <span [style.display]="highlight.formMode ? 'none' : 'inline'">
                {{highlight.comments}}
              </span>
              <input [style.display]="highlight.formMode ? 'block' : 'none'" type="text" [(ngModel)]="highlight.comments" name="comments">
            </p>
            <p>
              <b>Author</b>: {{highlight.author}}
            </p>
            <p><b>Page</b>: {{highlight.page}}</p>
            <button [style.display]="highlight.formMode ? 'block' : 'none'" (click)="onSubmit(highlight, form)">Submit</button>
          </div>
        </div> 
      </form>
    </li>
  </ul>
</div>
<div class="background">
  <!-- just a hack to allow a radial gradient to appear fixed -->
</div>
<div class="sidebarLeft" id="sidebarLeft">
  <div class="folder">
    <div class="fas fa-folder"></div>
    <div class="expansion">
      <ul>
        <li *ngFor="let fileName of filesList" (click)="downloadDocument(fileName)">{{fileName}}</li>
      </ul>
    </div>
  </div>
  <div class="history">
    <div class="fas fa-history"></div>
  </div>
  <!-- <div class="fas fa-star"></div> -->
  <div class="plus">
    <label for="fileInput" class="fileInput child fas fa-plus"></label><input id="fileInput" type="file" (change)="loadNewPDF($event)">
  </div>
  <div class="save">
    <div class="fas fa-save"></div>
  </div>
  
</div>
<div class="pdf">
  <div class="navHighlights">
  </div>
  <app-pdf-page *ngFor="let page of pages; let i = index" [redraw] = "redraw" [pageNum] = "i" [zoom] = "zoom" (addHighlight)="updateHighlights($event)">{{i}}</app-pdf-page>
  <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>