::ng-deep :root {
    --headerBackgroundOne: rgb(83, 81, 81);
    --headerBackgroundTwo: rgb(51, 51, 51);
    --bodyBackgroundTwo: rgb(173, 173, 173);
    --bodyBackgroundOne: rgb(148, 123, 123);
}

app-pdf-page {
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.headerBar {
    background: radial-gradient(circle at center, var(--headerBackgroundOne), var(--headerBackgroundTwo));
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgb(46, 46, 46);
    border-top: 1px solid darkgray;
    border-radius: 3px;
    box-shadow: 0px 5px 7px rgb(0, 0, 0);
    color: rgb(63, 49, 49);
    position: fixed;
    z-index: 100;
    width: 96%;
    right: 50%;
    margin-right: -48%;
}

.headerBar .child {
    padding: 5px;
    /* border: 1px solid lightgray; */
    background: rgb(151, 151, 151);
    color: rgb(145, 1, 1);
    text-shadow: 0 0 5px white;
    border-radius: 4px;
    margin-left: 13px;
    margin-right: 13px;

    cursor: pointer;
}

.headerBar .rightSide {
    margin-right: 26px;
}

.floatChildrenRight { 
    float: right;
}

.headerBar .zoom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

a { 
    color: black;
    text-decoration: none;
}

#fileInput {
    display: none;
}

.title {
    display: inline;
    color: rgb(236, 236, 236);
    text-shadow: 2px 2px 4px black;
    padding-left: 10px;
    margin: 0;
    font-size: 30px;
}

app-login {
    top: 0;
    margin-left: 5%;
}

.background {
    background: radial-gradient(circle at center, var(--bodyBackgroundOne), var(--bodyBackgroundTwo));
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 0;
    left: 0;
    position: fixed;
}

.sidebarRight, .sidebarLeft {
    position: fixed;
    top: 90px;
    overflow: hidden;
    position: fixed;
    background: radial-gradient(circle at center, var(--headerBackgroundOne), var(--headerBackgroundTwo));
    z-index: 100;
}

.sidebarRight {
    border-radius: 3px;
    height: calc(100vh - 100px);
    width: 20%;
    right: 0;
    box-shadow: -5px 0px 7px rgb(0, 0, 0);
    overflow: auto;
}

.sidebarRight h2 {
    text-align: center;
    width: 100%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.sidebarRight li {
    background-color: rgb(136, 136, 136);
    padding: 5px;
    width: 80%;
    border-radius: 3px;
    margin: 2px;
    box-sizing: border-box;
    position: relative;
}

.sidebarRight li:hover .positionAbsolute {
    visibility: visible;
}

.positionAbsolute {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

.positionAbsolute * {
    /* pointer-events: none; */
    margin-right: 10px;
    /*  */
    border-radius: 10px;
    border-style: none;
}

.sidebarLeft {
    left: 0;
    width: 56px;
    box-shadow: 5px 0px 7px rgb(0, 0, 0);
    top: 50%;
    transform: translateY(-50%);
    overflow: visible;
}

.sidebarLeft .fas {
    border-bottom: 1px solid black;
    display: block;
    cursor: pointer;
    width: auto;
    text-align: center;
    padding: 20%;
    /* margin: 6px; */
    font-size: 40px;
    /* border: 1px solid lightgray; */
    /* background: rgb(151, 151, 151); */
    color: rgb(187, 185, 185);
    text-shadow: 0 0 2px red;
}

.pdf {
    padding-top: 100px;
    position: relative;
    /* background-color: var(--bodyBackgroundTwo); */
}

.nomargin {
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold;
    font-size: 1.1em;
}

hr {
    border-color: rgb(146, 146, 146);
}

.paddingLeft {
    padding-left: 10%;
}

.delete {
    color: rgb(119, 1, 1);
}

.expansion {
    position: absolute;
    display: none;
    left: 100%;
    z-index: 98;
    overflow: visible;
    top: 0;
    background: radial-gradient(circle at center, var(--headerBackgroundOne), var(--headerBackgroundTwo));
    box-shadow: 5px 0px 7px rgb(0, 0, 0);
    border-radius: 0 5px 5px 0;
    border-left: 2px solid black;
}


.sidebarLeft .folder:hover .expansion {
    display: block;
}